<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logo_colon_sin_fondo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/styles.css">
    <style>
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 90%;
            margin: 20px auto;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
            color: #333;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #555;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
            box-sizing: border-box;
        }

        .account-actions {
            margin-top: 20px;
        }

        .account-actions button {
            display: block;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
            cursor: pointer;
            border: none;
            width: 100%;
        }

        .account-actions a:hover {
            background-color: #23527c;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border-radius: 8px;

        }

        form label {
            font-weight: bold;
            font-size: 1rem;
            color: #333;
        }

        form input[type="text"],
        form input[type="email"] form input[type="password"] {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1rem;
            color: #333;
            background-color: #fff;
        }

        form button {
            padding: 0.75rem 1.5rem;
            margin-top: 1.5rem;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        form button:hover {
            background-color: #45a049;
        }

        form button:active {
            background-color: #3e8e41;
        }

        .error-message {
            color: red;
        }
    </style>
    <title>Cuenta</title>
</head>

<body>
    <div class="grid-container">
        <%- include('header') %>
            <%- include('sidebar',{ rolId: rolId, rolNombre:rolNombre, disciplinas:disciplinas }) %>

                <!-- Main -->
                <main class="main-container">
                    <div class="main-title">
                        <h2>CUENTA</h2>
                    </div>
                    <div class="container">

                        <div class="account-info">
                            <h2>Datos de la cuenta</h2>
                            <div>
                                <div class="form-group">
                                    <label for="name">Nombre:</label>
                                    <input type="text" id="name" name="name" value=<%=usuario.nombre %> disabled>
                                </div>

                                <div class="form-group">
                                    <label for="email">Correo Electrónico:</label>
                                    <input type="email" id="email" name="email" value=<%=usuario.email %> disabled>
                                </div>

                                <!-- <div class="form-group">
                                    <label for="currentPassword">Rol</label>
                                    <input type="text" id="rol" name="rol" value=<%=usuario.rol_nombre %> disabled>
                                </div> -->
                            </div>
                        </div>

                        <div class="account-actions">
                            <h2>Acciones de la cuenta</h2>
                            <button id="change-password" style="background-color: #0077b6;">Cambiar contraseña</button>
                            <button id="change-name" style="background-color: #0077b6;">Cambiar nombre</button>
                            <button class="boton-cerrarsesion" style="background-color: #cf0000;">Cerrar sesion</button>
                        </div>
                    </div>
                </main>
                <!-- End Main -->
    </div>

    <script src="/public/js/interacciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const botonCerrarSesion = document.querySelector(".boton-cerrarsesion").addEventListener("click", () => {
                Swal.fire({
                    title: "Estas seguro?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    cancelButtonText: "Cancelar",
                    confirmButtonText: "Cerrar Sesion"
                }).then((result) => {
                    if (result.isConfirmed) {
                        cerrarSesion()
                    }
                });
            })

            function cerrarSesion() {
                fetch('/logout', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        window.location.reload()
                    })
                    .catch(error => {
                        console.log(error);

                    });
            }

            // Show SweetAlert modal for changing password
            document.querySelector('#change-password').addEventListener('click', function () {
                Swal.fire({
                    title: 'Cambiar contraseña',
                    html: `
                        <form id="change-password-form">
                            <label for="current-password">Contraseña actual:</label>
                            <input type="password" id="current-password" required>
                            <br>
                            <label for="new-password">Nueva contraseña:</label>
                            <input type="password" id="new-password" required>
                            <br>
                            <label for="confirm-password">Confirmar contraseña:</label>
                            <input type="password" id="confirm-password" required>
                            <button type="submit">Aceptar</button>
                        </form>
                        <div class="error-message"></div>
                        `,
                    focusConfirm: false,
                    showCloseButton: true,
                    focusConfirm: false,
                    showConfirmButton: false,
                })
                document.getElementById('change-password-form').addEventListener('submit', cambiarContraseña);
            });

            function cambiarContraseña(e) {
                e.preventDefault()
                const errorMessage = document.querySelector(".error-message")
                const contraseñaActual = document.getElementById('current-password').value;
                const contraseñaNueva = document.getElementById('new-password').value;
                const contraseñaConfirmada = document.getElementById('confirm-password').value;
                const userId = <%= usuario.id %>;

                if (contraseñaNueva === contraseñaConfirmada) {
                    fetch("/cambiarContrasenia", {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            id: userId,
                            contraseñaActual: contraseñaActual,
                            nuevaContraseña: contraseñaNueva
                        })
                    }).then((response) => {
                        if (response.ok) {
                            Swal.fire({
                                title: "Actualizado!",
                                text: "Tu contraseña ha sido actualizado correctamente.",
                                icon: "success",
                                confirmButtonColor: "#4CAF50",
                            }).then((response) => {
                                if (response.isConfirmed) {
                                    window.location.reload()
                                }
                            })
                        } else {
                            response.json().then((res) => {
                                errorMessage.textContent = res.mensaje
                            })
                        }
                    }).catch((error) => {
                        console.log(error);
                    })
                } else {
                    errorMessage.textContent = "No coinciden las contraseñas"
                }
            }

            // Show SweetAlert modal for changing name
            document.querySelector('#change-name').addEventListener('click', function () {
                Swal.fire({
                    title: 'Cambiar nombre',
                    html: `
                        <form id="change-name-form">
                            <label for="new-name">Nuevo nombre:</label>
                            <input type="text" id="new-name" required>
                            <button type="submit">Aceptar</button>
                        </form>
                        <div class="error-message"></div>
                     `,
                    focusConfirm: false,
                    showCloseButton: true,
                    focusConfirm: false,
                    showConfirmButton: false,
                })
                document.getElementById('change-name-form').addEventListener('submit', cambiarNombre);
            });

            function cambiarNombre(e) {
                e.preventDefault()
                const nuevoNombre = document.querySelector("#new-name").value;
                const userId = <%= usuario.id %>;

                const data = {
                    id: userId,
                    nuevoNombre: nuevoNombre
                }
                fetch("/cambiarNombre", {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then((response) => {
                    if (response.ok) {
                        Swal.fire({
                            title: "Actualizado!",
                            text: "Tu nombre ha sido actualizado correctamente.",
                            icon: "success",
                            confirmButtonColor: "#4CAF50",
                        }).then((response) => {
                            if (response.isConfirmed) {
                                window.location.reload()
                            }
                        })
                    } else {
                        response.json().then((res) => {
                            errorMessage.textContent = res.mensaje
                        })
                    }
                })
            }
        })
    </script>
</body>

</html>