<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="shortcut icon" href="/public/img/logo_colon_sin_fondo.ico" type="image/x-icon">
    <style>
        .main-title {
            margin-bottom: 20px;
        }

        .cards-economia {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .card-economia {
            background-color: white;
            border-radius: 5px;
            padding: 10px;
        }

        .card-economia form{
            display: flex;
            flex-direction: column;
        }


        input[type="number"],select, input[type="date"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 10px;
            margin-bottom: 10px;
            resize: none;
        }

        textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 10px;
            margin-bottom: 10px;
            resize: none;
            height: 100px;
            font-family: sans-serif;

        }

        input[type="file"] {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 5px;

        }

        button:hover {
            background-color: #45a049;

        }

        @media screen and (max-width: 768px) {

            .cards-economia {
                grid-template-columns: 1fr;
            }
        }
    </style>
    <title>Economia de <%= disciplina%>
    </title>
</head>

<body>
    <div class="grid-container">
        <%- include('header') %>
            <%- include('sidebar',{ rolId: rolId, rolNombre:rolNombre, disciplinas:disciplinas }) %>

                <!-- Main -->
                <main class="main-container">
                    <div class="main-title">
                        <h2>ECONOMÍA DE <%= disciplina.toUpperCase()%>
                        </h2>
                    </div>
                    <div class="card-economia">
                        <form id="form-movimientos">
                            <h3>Editar movimiento</h3>
                            <label>Monto</label>
                            <input type="number" name="monto" id="" min="0" required value="<%= movimiento.valor %>">
                            <label>Documentacion respaldatoria</label>
                            <div>
                                <input type="file" name="documentacion" id="">
                                <% if (movimiento.documentacion) { %>
                                    <a href=<%= movimiento.documentacion %> target="_blank">Documento Actual</a>
                                <% } %>
                            </div>
                            <label>Descripcion</label>
                            <textarea name="descripcion" id="" required><%= movimiento.descripcion %></textarea>
                            <label>Tipo de movimiento</label>
                            <select name="" id="tipoMovimiento" required value="<%= movimiento.es_ingreso %>">
                                <option value="1">Ingreso</option>
                                <option value="0">Egreso</option>
                            </select>
                            <label>Fecha</label>
                            <input type="date" name="" id="fecha" value="<%= movimiento.fecha %>" required>
                            <button class="boton" type="submit">Actualizar movimiento</button>
                        </form>
                    </div>
                </main>

                <!-- End Main -->
    </div>

    <script src="/public/js/interacciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const disciplinaActual = '<%= disciplina %>';
        const movimientoId= "<%= idMovimiento%>"

        document.querySelector("#form-movimientos").addEventListener("submit",async (e)=>{
            e.preventDefault()

            const inputMonto=document.querySelector(`#form-movimientos input[name="monto"]`)
            const inputDocumentacion=document.querySelector(`#form-movimientos input[name="documentacion"]`)
            const inputDescripcion=document.querySelector(`#form-movimientos textarea`)
            const tipoMovimiento=document.querySelector("#tipoMovimiento").value
            const inputFecha=document.querySelector("#form-movimientos #fecha").value

            let fd= new FormData()
            fd.append("monto",inputMonto.value)
            fd.append("documentacion",inputDocumentacion.files[0])
            fd.append("descripcion",inputDescripcion.value)
            fd.append("es_ingreso",tipoMovimiento)
            fd.append("fecha",inputFecha)


            const ajax=await fetch(`/editarMovimiento/${disciplinaActual}/${movimientoId}`,{
                method:"PUT",
                body:fd,
            })

            const result = await ajax.json()
            if(result.ok)
            {
                Swal.fire({
                icon: 'success',
                title: 'Movimiento actualizado',
                text: result.message,
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didClose: () => {
                    window.location.href=`/dashboard/movimientos/${disciplinaActual}`;
                }
            });
            }
            else {
                Swal.fire({
                icon: 'error',
                title: 'Error al actualizar el movimiento',
                text: result.message,
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
            });
            }
            
        })
    </script>
</body>

</html>