<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logo_colon_sin_fondo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/styles.css">
    <style>
        .tabla-header i {
            font-size: 36px;
            cursor: pointer;
            margin-right: auto;
        }

        .filter-container {
            position: relative;
            /* Contenedor relativo */
        }

        #filtro-menu {
            position: absolute;
            top: 100%;
            left: -200px;
            display: none;
            background-color: #fff;
            border: 1px solid #ccc;
            z-index: 100;
            width: 300px;
            padding: 10px;
        }

        #filtro-menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #filtro-menu li {
            margin-bottom: 10px;
        }

        #filtro-menu a {
            text-decoration: none;
            color: #337ab7;
        }

        #filtro-menu a:hover {
            color: #23527c;
        }

        .dropdown-header {
            margin-top: 0;
            font-weight: bold;
            color: #333;
        }

        .form-group {
            margin-bottom: 10px;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }

        select {
            padding: 0;
        }

        .form-control {
            height: 40px;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-control:focus {
            border-color: #aaa;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .tabla-header button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #limpiar-filtro {
            background-color: red;
        }

        #limpiar-filtro:hover {
            background-color: rgb(206, 0, 0);
        }

        #aplicar-filtro {
            background-color: #00b30f;
        }

        #aplicar-filtro:hover {
            background-color: #00880b;
        }

        .container-buttons button {
            background-color: #2889dd;
            border: none;
            margin: 10px 10px 10px 0px;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .container-buttons button:hover {
            background-color: #2772b3;
        }

        .container-tablas table a {
            color: black;
        }

        .formBalancePersonalizado {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
        }

        .formBalancePersonalizado label {
            font-weight: bold;
            font-size: 1rem;
            color: #333;
        }

        .formBalancePersonalizado input {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1rem;
            color: #333;
            background-color: #fff;
        }

        .formBalancePersonalizado button {
            padding: 0.75rem 1.5rem;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .formBalancePersonalizado button:hover {
            background-color: #45a049;
        }

        .formBalancePersonalizado button:active {
            background-color: #3e8e41;
        }
    </style>
    <title>Movimientos</title>
</head>

<body>
    <div class="grid-container">
        <%- include('header') %>
            <%- include('sidebar') %>

                <!-- Main -->
                <main class="main-container">
                    <div class="main-title">
                        <h2>MOVIMIENTOS</h2>
                    </div>
                    <div class="container-tablas">
                        <div class="tabla-header" style="justify-content: right;">
                            <div class="filter-container">
                                <i class="bi bi-filter" id="filtro-icono"></i>
                                <div id="filtro-menu" style="display: none;">
                                    <h4 class="dropdown-header">Filtrar por:</h4>
                                    <div class="form-group">
                                        <label for="tipo">Tipo de movimiento:</label>
                                        <select id="tipo" class="form-control">
                                            <option value="">Todos</option>
                                            <option value="ingreso">Ingreso</option>
                                            <option value="egreso">Egreso</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fecha">Fecha:</label>
                                        <input type="date" id="fecha" class="form-control">
                                    </div>
                                    <% if (!disciplina) { %>
                                        <div class="form-group">
                                            <label for="disciplina">Disciplina:</label>
                                            <select id="disciplina" class="form-control">
                                                <option value="">Todas</option>
                                                <% disciplinas.forEach(function(disciplina) { %>
                                                    <option value="<%= disciplina.id %>">
                                                        <%= disciplina.nombre %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                        </div>
                                        <% } %>
                                            <button id="aplicar-filtro">Aplicar filtro</button>
                                            <button id="limpiar-filtro">Limpiar filtro</button>
                                </div>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Responsable</th>
                                    <th>Disciplina</th>
                                    <th>Tipo Movimiento</th>
                                    <th>Valor</th>
                                    <th>Fecha</th>
                                    <th>Descripcion</th>
                                    <th>Documentacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (movimientos.length> 0) { %>
                                    <% movimientos.forEach((movimiento)=> { %>
                                        <tr>
                                            <td>
                                                <%= movimiento.responsable %>
                                            </td>
                                            <td style="text-transform: capitalize;">
                                                <%= movimiento.disciplina %>
                                            </td>
                                            <td>
                                                <% if(movimiento.es_ingreso) { %>
                                                    <div class="status-badge active">
                                                        Ingreso
                                                    </div>
                                                    <% } else { %>
                                                        <div class="status-badge banned">
                                                            Egreso
                                                        </div>
                                                        <% } %>
                                            </td>
                                            <td>$<%= movimiento.valor %>
                                            </td>
                                            <td>
                                                <%= movimiento.fecha %>
                                            </td>
                                            <td style="text-transform: capitalize;">
                                                <%= movimiento.descripcion %>
                                            </td>
                                            <td>
                                                <% if (movimiento.documentacion) { %>
                                                    <a href="<%= movimiento.documentacion %>" target="_blank">Ver
                                                        Adjunto</a>
                                                    <% }else{ %>
                                                        <p>Sin documentacion</p>
                                                        <% } %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="8" style="text-align: center;">No hay movimientos
                                                        registrados</td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>
                        <div class="pagination">
                            <div class="pagination-select">
                                Filas por pagina:
                                <select
                                    onchange="window.location.href = '?pagina=1&filasPorPagina=' + this.value + '&buscar=<%= typeof buscar !== 'undefined' ? buscar : '' %>'">
                                    <option value="5" <%=filasPorPagina==5 ? 'selected' : '' %>>5</option>
                                    <option value="10" <%=filasPorPagina==10 ? 'selected' : '' %>>10</option>
                                    <option value="20" <%=filasPorPagina==20 ? 'selected' : '' %>>20</option>
                                </select>
                            </div>
                            <div class="pagination-buttons">
                                <button class="pagination-button" onclick="navigatePage('prev')" <%=pagina===1
                                    ? 'disabled' : '' %>>
                                    <i class="bi bi-chevron-left"></i>
                                </button>
                                <span>
                                    <%= (pagina - 1) * filasPorPagina + 1 %> - <%= Math.min(pagina * filasPorPagina,
                                            totalMovimientos) %> de <%= totalMovimientos %>
                                </span>
                                <button class="pagination-button" onclick="navigatePage('next')" <%=pagina>=
                                    Math.ceil(totalMovimientos / filasPorPagina) ? 'disabled' : '' %>>
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="balances">
                            <h4>Balances</h4>
                            <div class="container-buttons">
                                <button id="last-30-days">Ultimos 30 dias</button>
                                <button id="last-90-days">Ultimos 90 dias</button>
                                <button id="annual-balance">Balance del año</button>
                                <button onclick="showBalancePersonalizado()">Personalizado</button>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- End Main -->
    </div>
    <script src="/public/js/interacciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const disciplinaActual = '<%= disciplina %>';

        function navigatePage(direction) {
            const paginaActual = <%= pagina %>;
            const filasPorPaginas = <%= filasPorPagina %>;
            const buscar = '<%= typeof buscar !== "undefined" ? buscar : "" %>';
            let nuevaPagina;

            if (direction === 'prev') {
                nuevaPagina = paginaActual - 1;
            } else if (direction === 'next') {
                nuevaPagina = paginaActual + 1;
            }

            window.location.href = `?pagina=${nuevaPagina}&filasPorPagina=${filasPorPaginas}&buscar=${buscar}`;
        }

        const filtroIcono = document.getElementById('filtro-icono');
        const filtroMenu = document.getElementById('filtro-menu');

        filtroIcono.addEventListener('click', () => {
            if (filtroMenu.style.display === 'none') {
                filtroMenu.style.display = 'block';
            } else {
                filtroMenu.style.display = 'none';
            }
        });

        document.addEventListener('click', function (event) {
            const target = event.target;

            // Verifica si el clic está fuera del sidebar y si la resolución es menor a 992px
            if (filtroMenu.style.display === 'block' && !filtroMenu.contains(target)) {
                filtroMenu.style.display = 'none';
            }
        });

        filtroIcono.addEventListener('click', function (event) {
            event.stopPropagation();
            if (filtroMenu.style.display == "block") {
                filtroMenu.style.display = 'block';
            }
        });

        // Agregamos un evento al botón "Aplicar filtro"
        document.getElementById('aplicar-filtro').addEventListener('click', () => {
            const tipo = document.getElementById('tipo').value;
            const fecha = document.getElementById('fecha').value;
            if (!disciplinaActual) {
                const disciplina = document.getElementById('disciplina').value;
                window.location.href = `?tipo=${tipo}&fecha=${fecha}&disciplina=${disciplina}`;
            } else {
                window.location.href = `?tipo=${tipo}&fecha=${fecha}`;
            }

            // Redireccionamos a la ruta con los parámetros de filtro
        });

        // Agregamos un evento al botón "Limpiar filtro"
        document.getElementById('limpiar-filtro').addEventListener('click', () => {
            // Redireccionamos a la ruta sin parámetros de filtro
            window.location.href = '/dashboard/movimientos';
        });

        function showBalancePersonalizado() {
            Swal.fire({
                title: 'Generar balance personalizado',
                html: `
                    <form class="formBalancePersonalizado">
                        <label for="startDate">Fecha de inicio:</label>
                        <input type="date" id="startDate" required>
                        <label for="endDate">Fecha final:</label>
                        <input type="date" id="endDate" required>
                        <button type="submit">Aceptar</button>
                    </form>
                    <div class="error-message"></div>
                `,
                showConfirmButton: false,
                showCloseButton: true,
                showCancelButton: false,
            });

            document.querySelector(".formBalancePersonalizado").addEventListener("submit", (e) => {
                e.preventDefault()

                const startDate= document.querySelector("#startDate").value
                const endDate= document.querySelector("#endDate").value

                let consulta = '/personalizado';
                if (disciplinaActual) {
                    consulta = `/personalizado/${disciplinaActual}`
                }
                fetch(consulta, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json' // Especificar que se envían datos JSON
                    },
                    responseType: 'blob',
                    body:JSON.stringify({
                        fechaInicio: startDate,
                        fechaFin: endDate,
                    })
                })
                    .then(response => response.blob())
                    .then(blob => {
                        console.log('Blob:', blob);
                        const url = window.URL.createObjectURL(new Blob([blob]));
                        const a = document.createElement('a');
                        a.style.display = 'none';
                        a.href = url;
                        const hoy = new Date();
                        const hoyFormateado = hoy.toLocaleDateString();
                        if (disciplinaActual) {
                            a.download = `Balance personalizado ${disciplinaActual} ${hoyFormateado}.pdf`;
                        } else {
                            a.download = `Balance personalizado ${hoyFormateado}.pdf`;
                        }
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => console.error('Error al descargar el PDF:', error));
            });
        }


        const last30DaysButton = document.getElementById('last-30-days');
        const last90DaysButton = document.getElementById('last-90-days');
        const annualBalanceButton = document.getElementById('annual-balance');

        last30DaysButton.addEventListener('click', () => {
            let consulta = '/ultimos-30-dias';
            if (disciplinaActual) {
                consulta = `/ultimos-30-dias/${disciplinaActual}`
            }
            fetch(consulta, {
                method: 'GET',
                responseType: 'blob'
            })
                .then(response => response.blob())
                .then(blob => {
                    console.log('Blob:', blob);
                    const url = window.URL.createObjectURL(new Blob([blob]));
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    const hoy = new Date();
                    const hoyFormateado = hoy.toLocaleDateString();
                    if (disciplinaActual) {
                        a.download = `Balance ultimos 30 dias ${disciplinaActual} ${hoyFormateado}.pdf`;
                    } else {
                        a.download = `Balance ultimos 30 dias ${hoyFormateado}.pdf`;
                    }
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error al descargar el PDF:', error));
        });
        last90DaysButton.addEventListener('click', () => {
            let consulta = '/ultimos-90-dias';
            if (disciplinaActual) {
                consulta = `/ultimos-90-dias/${disciplinaActual}`
            }
            fetch(consulta, {
                method: 'GET',
                responseType: 'blob'
            })
                .then(response => response.blob())
                .then(blob => {
                    console.log('Blob:', blob);
                    const url = window.URL.createObjectURL(new Blob([blob]));
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    const hoy = new Date();
                    const hoyFormateado = hoy.toLocaleDateString();
                    if (disciplinaActual) {
                        a.download = `Balance ultimos 90 dias ${disciplinaActual} ${hoyFormateado}.pdf`;
                    } else {
                        a.download = `Balance ultimos 90 dias ${hoyFormateado}.pdf`;
                    }
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error al descargar el PDF:', error));
        });
        annualBalanceButton.addEventListener('click', () => {
            let consulta = "/anual"
            if (disciplinaActual) {
                consulta = `/anual/${disciplinaActual}`;
            }

            fetch(consulta, {
                method: 'GET',
                responseType: 'blob'
            })
                .then(response => response.blob())
                .then(blob => {
                    console.log('Blob:', blob);
                    const url = window.URL.createObjectURL(new Blob([blob]));
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    const hoy = new Date();
                    const hoyFormateado = hoy.toLocaleDateString();
                    if (disciplinaActual) {
                        a.download = `Balance anual ${disciplinaActual} ${hoyFormateado}.pdf`;
                    } else {
                        a.download = `Balance anual ${hoyFormateado}.pdf`;
                    }
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error al descargar el PDF:', error));
        });
    </script>
</body>

</html>