<!-- Sidebar -->
<aside id="sidebar">
    <div class="sidebar-logo">
        <img src="/public/img/logo_colon_sin_fondo.png" alt="">
        <i class="bi bi-x-lg" onclick="closeSidebar()"></i>
    </div>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a href="/dashboard/inicio">
                Inicio
            </a>
        </li>
        <% if(rolNombre==="admin_general" || rolNombre==="admin_secretaria") { %>
            <li class="sidebar-list-item" onclick="toggleSubMenu()">
                <a>Socios</a>
                <ul class="sub-menu" id="subMenu">
                    <li class="sub-menu-item">
                        <a href="/dashboard/socios">
                            Lista de socios
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="/dashboard/tiposdesocios">
                            Tipos de socios
                        </a>
                    </li>
                </ul>
            </li>
        <% } %>

        <li class="sidebar-list-item">
            <a href="/dashboard/eventos">
                Eventos
            </a>
        </li>
        <% if(rolNombre==="admin_general") { %>
            <li class="sidebar-list-item">
                <a href="/dashboard/movimientos">
                    Movimientos
                </a>
            </li>
        <% } %>
        <% if(rolNombre==="admin_general") { %>
            <li class="sidebar-list-item">
                <a href="/dashboard/usuarios">
                    Usuarios
                </a>
            </li>
        <% } %>
        <% disciplinas.forEach(function(disciplina) { %>
            <% if (rolNombre === `admin_${disciplina.nombre}` || rolNombre === `coordinador_${disciplina.nombre}`) { %>
                <li class="sidebar-list-item" onclick="toggleSubMenu()">
                    <a>
                        <%= disciplina.nombre %>
                    </a>
                    <ul class="sub-menu" id="subMenu">
                        <% if(rolNombre===`coordinador_${disciplina.nombre}`) { %>
                            <li class="sub-menu-item">
                                <a href="/dashboard/deportistas/<%= disciplina.nombre %>">Lista de Deportistas</a>
                            </li>
                        <% } %>
                        <% if(rolNombre===`coordinador_${disciplina.nombre}`) { %>
                            <li class="sub-menu-item">
                                <a href="/dashboard/cargardeportista/<%= disciplina.nombre %>">Cargar deportista</a>
                            </li>
                        <% } %>
                        <li class="sub-menu-item">
                            <a href="/dashboard/eventos/<%= disciplina.nombre %>">Eventos</a>
                        </li>
                        <% if(rolNombre===`admin_${disciplina.nombre}`) { %>
                            <li class="sub-menu-item">
                                <a href="/dashboard/economia/<%= disciplina.nombre %>">Economía</a>
                            </li>
                        <% } %>
                        <% if(rolNombre===`admin_${disciplina.nombre}`) { %>
                            <li class="sub-menu-item">
                                <a href="/dashboard/movimientos/<%= disciplina.nombre %>">Movimientos</a>
                            </li>
                        <% } %>
                    </ul>
                </li>
                <% } %>
            <% }); %>
    </ul>
</aside>
<!-- End Sidebar -->